.searchIconBarContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  transition: all 0.5s;
}

.searchIconBarContainer:hover .searchInput {
  border-bottom: 0.1px solid white;
}

.searchIcon {
  z-index: 1;
  color: white;
  font-size: 1rem;
}

.searchInput {
  background-color: var(--signavio-color);
  width: 100%;
  outline: none;
  border: none;
  color: white;
  opacity: 1;
  padding: 1rem;
  transition: all 0.5s;
}

.searchInput::placeholder {
  color: white;
  opacity: 0.6;
}
