.searchIconBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.searchIcon {
  z-index: 1;
  color: white;
}
.searchInput {
  background-color: var(--signavio-color);
  width: 100%;
  outline: none;
  border: none;
  color: white;
  opacity: 1;
  padding: 1rem;
}

.searchInput::placeholder {
  color: white;
  opacity: 0.6;
}
