:root {
  --body-background: #f2f2f2;
  --signavio-color: #ad0f5b;
  --company-name-color: #848484;
  --username-color: gray;
  --location-color: #050505;
  --img-height-width: 100px;
  --img-border-radius: 50%;
  --user-card-background: #fffcfc;
  --card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --card-search-border-radius: 5px;
}
* {
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
}
